body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-color: teal;
}

table {
	border: 1px solid;
	width: 75%;
	text-align: center;
	border-collapse: collapse;
	background-color: rgb(189, 187, 187);
}

th {
	border: 1px solid;
}

tr {
	border: 1px solid;
	padding-top: 5px;
	width: 50px;
	height: 50px;
}

td {
	padding: 0;
	border: 1px solid;
	padding-top: 5px;
	width: 150px;
}

input {
	max-width: 130px;
	height: 30px;
	background-color: #bdbdbd;
	border-radius: 0.5rem;
	padding: 0 1rem;
	margin-right: 5px;
	border: 2px solid transparent;
	font-size: 1rem;
}

button {
	position: relative;
	font-size: 10px;
	text-transform: uppercase;
	text-decoration: none;
	padding: 1em 2.5em;
	display: inline-block;
	border-radius: 6em;
	transition: all 0.2s;
	font-family: inherit;
	font-weight: 500;
	color: black;
	background-color: white;
}

button:hover {
	transform: scale(1.05);
}
